extends ../layout

block content
  .container
    .page-header(style='border:none;')
      h3(align='center')  New Denarius FortunaStake Key
      br
      br
      h1 #{genkey}
      br
      br
      br
      p(align='center')
        a.btn.btn-default(href='/', role='button') Go back to the Dashboard
