extends ../layout

block content
  script(src='../js/genmini.min.js')
  script(src='../js/keepkey.js')
  script.
    function updateDue() {
      var amnt = parseFloat(document.getElementById("amount").value);
      if (!amnt) { amnt = 0; }
      var total = document.getElementById("totalwithdraw");
      total.value = (amnt - 0.0001).toFixed(8);
    }
    function clicked() {
      $('#addy').val($('#sendaddress').val());
      $('#total').val($('#totalwithdraw').val());
    }
    function confirmed() {
      $('#sendform').submit();
    }
  #notify
  .container
    h1(align='center', style='font-size:73px;font-weight:100;margin-top:42px !important;') Denarius MiniKey Generation
    p(align='center')
      | This tool provides the ability to generate Denarius "Mini" Keys and their corresponding D addresses/private keys. Store your Minikey somewhere safe and treat it as a private key!
    br
    br
  .row.rowclass(style='font-weight:400;font-size:14px;padding:30px;background-color:#222;margin:15px;border-radius:15px;', align='center')
    .col-md-12
      h4.text-muted(style='font-size:23px;display:block;') Number of keys to generate
      form.form.form-inline(role='form')
        input.blackinput3#n.form-control(type='text' value='' placeholder='50')
        p
          br
          input.btn.btn-default(type='button' value='Generate' onclick='genmini();')
      p
    .row(align='center')
      .col-md-12
        #keys-container
          h3.text-muted(style='font-size:0.8em;display:block;')
            | Generated Denarius Minikeys (minikey - address) [
            a(href='#' onclick="selectRange('keys')") Select
            | ]
          p#keys.hashm(style='font-size:16px;background-color:#222;border-radius:15px;padding:30px;')
  div(align='center')
    br
    .row
      .col-md-6
        p
          a.btn.btn-default(href='/convertmini' role='button') Convert a D Minikey to WIF
      .col-md-6
        p
          a.btn.btn-default(href='https://metaspartan.github.io' role='button') Open Source Github for MiniKeys
