extends ../layout

block content
  span#lanip(data-value=lanip)
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")
  script.
    var lanip = document.getElementById("lanip").getAttribute("data-value");
    var socket = io('//'+ lanip +':3300');
    socket.on('disconnect', () => {
        socket.open();
    });
    socket.on('kkbalance', function (data) {
        console.log('GOT NOTIFY BALANCE', data);
        $('#balancearray').html(data.balancearray);
    });
  style.
    .modale:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    }
    .opened:before {
    display: block;
    }
    .opened .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 20%;
    }
    .modal-dialog {
    background: #1e1e1e;
    border: #333333 solid 0px;
    border-radius: 5px;
    margin-left: -200px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 11;
    width: 360px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    }
    .modal-body {
    padding: 20px;
    }
    .modal-body input {
    width: 200px;
    padding: 8px;
    border: 1px solid #333;
    color: #888;
    outline: 0;
    font-size: 14px;
    font-weight: bold;
    }
    .modal-header,
    .modal-footer {
    padding: 10px 20px;
    }
    .modal-header {
    border-bottom: #222 solid 1px;
    }
    .modal-header h2 {
    font-size: 20px;
    }
  script.
    function updateDue() {
      var amnt = parseFloat(document.getElementById("amount").value);
      if (!amnt) { amnt = 0; }
      var total = document.getElementById("totalwithdraw");
      total.value = (amnt - 0.0001).toFixed(8);
    }
    function getxpub() {
      $('#sendxpub').submit();
    }
    function confirmed() {
      $('#sendform').submit();
    }
  #notify
  .container
    h1(align='center', style='font-size:73px;font-weight:100;margin-top:42px !important;') Denarius KeepKey Manager
    p(align='center')
      | This tool provides the ability to access your KeepKey device through Kronos and acts as a KeepKey client for Denarius, This only works by visiting Kronos on your localhost via localhost:3000 or 127.0.0.1:3000 and is a major WIP.
    br
    br
  .row.container.rowclass(style='font-weight:400;font-size:14px;padding:30px;background-color:#222;margin:15px;border-radius:15px;', align='center')
    .col-md-12
      p
        button#keepkey.btn.btn-default(style='width:450px;height:60px;font-size:16px;') Pair with your KeepKey
        button#nextbutton.btn.btn-default(style='width:450px;height:60px;font-size:16px;background-color:#222;display:none;') Get your Denarius Address
        form.form-horizontal#sendxpub(action='/keepkeyaddr', method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          input#xpubin(type='hidden', name='xpubin', value='')
          input#addrin(type='hidden', name='addrin', value='')
          button#nextbutton2.btn.btn-success(style='width:450px;height:60px;background-color:#41B805;font-size:16px;display:none;', type='submit', onclick='getxpub()')
            | Get your Balance
        #xpub(style='display:none;')
        #keepkey2(style='display:none;')
      br
      .row 
        .col-md-12#kkgraphic.unplugged
          h4#pairtitle Pair Your KeepKey to View Info
          select#keyring(style='position:relative;height:25px;background-color:#00000000;color:#FFF;border:0px;' size='4')
          p
            span#labelinfo
            br
            span#vendorinfo
            span#modelinfo
            br
            span#deviceidinfo
            br
            span#firmwareinfo
          p &nbsp;
          p &nbsp;
          p &nbsp;
          p &nbsp;
          p &nbsp;
          p &nbsp;
          p &nbsp;
          p &nbsp;
          p &nbsp;
          p &nbsp;
          p &nbsp;
      .row
        .col-md-4
          button#recovery.btn.btn-success(style='width:250px;height:50px;background-color:#059cb7;font-size:16px;display:none;')
            | Recover Device
        .col-md-4
          button#pinswap.btn.btn-success(style='width:250px;height:50px;background-color:#059cb7;font-size:16px;display:none;')
            | Set or Change PIN
        .col-md-4
          button#reset.btn.btn-success(style='width:150px;height:50px;background-color:#b73d05;font-size:16px;display:none;')
            | Wipe Device
      br
      .modale(id='#popupsure' aria-hidden='true')
        .modal-dialog(style='width:650px;left:40%;')
          .modal-header
            h3 Set Device Seed Phrase
            p(style='color:#aa3f3f;')
              | Are you sure you want to set this seed phrase? 
              | Make sure you have written it down!
          .modal-body
            p
              h4
                | Device Label: 
                strong
                  span#seedlabel(data-val='')
            p
              | Enabling BIP39 Password:  
              strong
                span#bip39pass(data-val='')
            .divider(style='#background-color:#212121;height:1px;')
            p(style='background-color:#111;border-raidus:15px;padding:20px;')
              span#seedphrase(data-val='', style='font-size:23px;')
            br
          .modal-footer(style='border: 0 !important;')
            button#submitdevice.button.button-outline.btn.btn-default
              | Push to Device
      .modale(id='#popupinput' aria-hidden='true')
        .modal-dialog(style='width:650px;left:40%;')
          .modal-header
            h3 Set Device Seed Phrase
            p(style='color:#aa3f3f;')
              | Use the box below to setup a new BIP39 seed phrase on your KeepKey device
              | you must write this phrase down and it must be 12, 18, or 24 words. 
              | Warning: This will set your seed to whatever you enter on your device.
              | Ensure you have a written down a backup of your seed phrase!
          .modal-body
            p
              span#seedinfo(style='color:#aa3f3f;font-weight:bold;font-size:14px;') 
            br
            .form-group
              label.col-sm-3.control-label Device Label
              .col-sm-8(style='margin-bottom:15px;')
                input#inputlabel.blackinput4(style='width:98%;', type='text', placeholder='Kronos KeepKey')
            .form-group
              label.col-sm-3.control-label BIP39 Password?
              .col-sm-8(style='margin-bottom:25px;')
                select.blackinput4#inputpass
                  option(value='true' selected) Yes
                  option(value='false') No, Recommended to Set PIN after
            .form-group
              .col-sm-12(style='margin-bottom:25px;')
                label(align='center') Enter BIP39 Seed Phrase
                br
                textarea#inputmem.blackinput4(style='height:133px;padding:30px;margin-top:10px;font-size:16px;', rows='6', col='12', placeholder='struggle demand museum physical change joke wall brand unit gown property hair purchase useful swear bread calm omit cinnamon tag shadow special lawsuit toy')
                | 
            br
          .modal-footer(style='border: 0 !important;')
            button#submitload.button.button-outline.btn.btn-default
              | Set Seed
      .modale(id='#pinModal' aria-hidden='true')
        .modal-dialog
          .modal-header
            h3 Enter PIN
            p
              | Use the PIN layout shown on your Keepkey to find the location to
              | press on this PIN pad.
          .modal-body
            button.button.button-outline.btn.btn-default(onclick='handlePinDigit(7)', style='margin:10px;color:#777;font-size:23px;padding:20px;')
              | &#x25CF;
            button.button.button-outline.btn.btn-default(onclick='handlePinDigit(8)', style='margin:10px;color:#777;font-size:23px;padding:20px;')
              | &#x25CF;
            button.button.button-outline.btn.btn-default(onclick='handlePinDigit(9)', style='margin:10px;color:#777;font-size:23px;padding:20px;')
              | &#x25CF;
            br
            button.button.button-outline.btn.btn-default(onclick='handlePinDigit(4)', style='margin:10px;color:#777;font-size:23px;padding:20px;')
              | &#x25CF;
            button.button.button-outline.btn.btn-default(onclick='handlePinDigit(5)', style='margin:10px;color:#777;font-size:23px;padding:20px;')
              | &#x25CF;
            button.button.button-outline.btn.btn-default(onclick='handlePinDigit(6)', style='margin:10px;color:#777;font-size:23px;padding:20px;')
              | &#x25CF;
            br
            button.button.button-outline.btn.btn-default(onclick='handlePinDigit(1)', style='margin:10px;color:#777;font-size:23px;padding:20px;')
              | &#x25CF;
            button.button.button-outline.btn.btn-default(onclick='handlePinDigit(2)', style='margin:10px;color:#777;font-size:23px;padding:20px;')
              | &#x25CF;
            button.button.button-outline.btn.btn-default(onclick='handlePinDigit(3)', style='margin:10px;color:#777;font-size:23px;padding:20px;')
              | &#x25CF;
            br
            input.blackinput4(id='#pinInput' type='text' style='-webkit-text-security: disc;')
            button.button.button-outline.btn.btn-default(onclick="handlePinDigit('')", style='padding:8px;margin-bottom:4px;')
              | <
          .modal-footer(style='border: 0 !important;')
            button.button.button-outline.btn.btn-default(onclick='pinEntered()')
              | Unlock
      .modale(id='#passphraseModal' aria-hidden='true')
        .modal-dialog(style='width:600px;left:42%;')
          .modal-header
            h3 BIP39 Password
            p Enter your BIP39 Seed Password if you are using it, if not, leave blank. 
          .modal-body
            form
              input.blackinput4(id='#passphraseInput' type='password' autocomplete='bip39-passphrase', style='width:80%;')
          .modal-footer(style='border:0;')
            button.button.button-outline.btn.btn-default(onclick='passphraseEntered()')
              | Continue
  script(src='https://unpkg.com/debug@4.0.1/dist/debug.js')
  script(src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')
  script(src='http://'+lanip+':3000/js/keepkey.js')
