extends ../layout

block content
  #notify
  .container
    .page-header(style='border:none;')
      h3(align='center')  New Denarius Public Address
      br
      br
      .newaddy #{address}
      .qrcoded(align='center')
        a(href='denarius:' + address)
          img(src='' + data_url)
      br
      br
      br
      p(align='center')
        a.btn.btn-default(href='/', role='button') Go back to the Dashboard
