extends ../layout

block content
  script.
    function confirmed() {
      $('#sendform').submit();
    }
  #notify
  .container
    div(style='margin-top:100px;')
      h1(align='center')
        | Sign a Message
      p
        .titlesmall(align='center') Sign a message with one of your owned Denarius addresses
      p
        form.form-horizontal(action='/signmsg', method='POST', id='sendform')
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            label.col-sm-3.control-label(for='sendaddress') D Owned Address
            .col-sm-7
              input.form-control.blackinput3(type='text', name='sendaddress', id='sendaddress', placeholder='D8jRk63FQDRUfeKqz99rkmCr47qsFUT5K2')
          .form-group
            label.col-sm-3.control-label(for='unsignedmsg') Message
            .col-sm-7
              .input-group
                textarea.form-control.blackinput3(row='10', cols='70', name='unsignedmsg', id='unsignedmsg', placeholder='Your message you want to sign with Denarius goes here...')
          .form-group
            .col-sm-offset-3.col-sm-4
              button.btn.btn-default(type='button', id='sendmsg', onclick='confirmed()')
                i.fa.fa-key
                |  Sign Message
