footer
  .footsec(style='background-color:#000;width:100%;padding:50px;margin-right:0 !important;')
    .text-center(style='margin-top:30px;')
      p(align='center')
        p(align='center')
          img.res(src='https://user-images.githubusercontent.com/10162347/93844293-ed323180-fc59-11ea-9331-9f8ac37f797c.png', style='height: 200px !important;')
        span(style='color:#999;font-size:11px;') © 2020 Carsen Klock. All Rights Reserved. Powered by Denarius. 
        p(style='font-size:32px;font-family:"Heebo", sans-serif;font-weight:200;color:#777;background-color:#111;border-radius:15px;padding:10px;width:65%;margin:0 auto;') Kronos Version
          br
          | v1.9.9-Beta
        br
        a(href='https://github.com/carsenk/denarius', class='external', target='_blank', style='margin-right:15px;') Denarius GitHub Project
        a(href='https://github.com/carsenk/kronos', class='external', target='_blank', style='margin-right:15px;') Kronos GitHub Project 
        a(href='https://denarius.io', class='external', target='_blank', style='margin-right:15px;') Denarius.io
        a(href='https://ari.finance', class='external', target='_blank') ari.finance