footer
  .footsec(style='background-color:#000;width:100%;padding:50px;margin-right:0 !important;')
    .text-center(style='margin-top:30px;')
      p(align='center')
        p(align='center')
          img.res(src='../img/dpiwhite.png', style='height: 200px !important;')
        | © 2017-2020 Denarius. All Rights Reserved. Powered by Denarius. dPi Version 1.2.4-Alpha
        br
        a(href='https://github.com/carsenk/denarius', target='_blank', style='margin-right:15px;') Denarius GitHub Project
        a(href='https://github.com/carsenk/dpi', target='_blank', style='margin-right:15px;') dPi GitHub Project 
        a(href='https://denarius.io', target='_blank') Denarius.io 
