extends layoutchat

block content
  link(href='https://cdnjs.cloudflare.com/ajax/libs/tippy.js/2.5.4/tippy.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/tippy.js/2.5.4/tippy.min.js')
  script.
    tippy('#messages', { target: '.tooltippy' });
  #peersCount
  #daccount(data-value=mainaddress)
  div(style='background-color:#111;padding:20px;width:100%;text-align:center;')
    #loader Encrypting & Connecting...Please wait...
  #logingroup(style='')
    .input-group#alias(style='width:350px;margin:0 auto;top: 50%;left: 40%;position: absolute;z-index:10002;')
      input.blackinputchat.form-control#entername(type='text', placeholder='Enter an alias to start chatting...', maxlength='15' autofocus)
      span#enter.input-group-addon(style='background-color:#222;color:#999;border-color: #444;border-top-right-radius:15px;border-bottom-right-radius:15px;outline:none;cursor:pointer;', onClick='enterChat()')
        i.fas.fa-arrow-circle-right
  #loginbg(style='background: rgb(56,56,56);background: radial-gradient(circle, rgba(56,56,56,1) 0%, rgba(17,17,17,1) 77%);width: 100%;height: calc(100% - 122px);position: absolute; z-index: 10001;')
  #messagewrapper(style='margin: 0 auto;margin-top:15px;overflow-x:hidden;display: flex;flex-direction: column-reverse;background-color:#111;border-radius:15px;padding:30px;width:95%;height:600px;overflow-y: scroll;margin-bottom:15px;')
    #messagehodler(style='')
      #messages
  .input-group#chatinput(style='bottom:0;position:relative;width:80%;z-index:999;margin:0 auto;')
    input.blackinputchat#message.form-control(type='text', placeholder='Type a message...', data-value=ethaddress, data-emoji-input="unicode" autofocus)
    span#connectordot(style='background-color:#222;color:#999;border-color: #444;outline:none;display:none;')
      span.online-icon.greenCircle
        span.ripple.greenCircler
        span.ripple.greenCircler
        span.ripple.greenCircler
    span#mutebutton.input-group-addon(onclick='muteAudio()', style='background-color:#222;color:#999;border-left: none;border-color: #444;outline:none;cursor:pointer;')
      i.fas.fa-volume-up
    span.input-group-addon#emoji-trigger(style='background-color:#222;color:#999;border-color: #444;border-left: none;outline:none;cursor:pointer;')
      i.far.fa-smile-beam
    span#send.input-group-addon(style='background-color:#222;color:#999;border-color: #444;border-top-right-radius:15px;border-bottom-right-radius:15px;outline:none;')
      i.far.fa-paper-plane
  p#connectdot(style='text-align: center; color: #5a5a5a; vertical-align: middle;margin-top:10px;')
  script(src='https://chr15m.github.io/bugout/bugout.min.js')
  script(src='https://unpkg.com/3box/dist/3box.min.js')
  script(type="module"). 
    import { EmojiButton } from 'https://unpkg.com/@joeattardi/emoji-button@4.1.0/dist/index.js';

    const picker = new EmojiButton({
                      theme: 'dark',
                      position: 'top-start',
                      autoHide: false
                    });
    const trigger = document.querySelector('#emoji-trigger');

    trigger.addEventListener('click', () => picker.togglePicker(trigger));
    picker.on('emoji', selection => {
      document.getElementById("message").value += selection.emoji;
    });
  script.
    var b = Bugout("Kronos");
    console.log(b.address() + " [ me ]");
    //- var c = Bugout("Kronos2"); // 2nd Channel

    localStorage.debug = "";

    var ethaddy = 'Advanced Mode User';

    var daddy = document.getElementById("daccount").getAttribute("data-value");

    function enterChat() {
      var userinput = $("#entername").val().replace(/</g, "&lt;").replace(/>/g, "&gt;");
      document.getElementById("entername").setAttribute("data-value", userinput);

      if (userinput == '') {
        return false;
      } else {
        $('#logingroup').fadeOut();
        $('#loginbg').fadeOut();
        $('#message').focus();
      }
    }

    document.getElementById("entername").onkeydown = function(e){
      if (e.keyCode == 32){
          return false;
      }
      if(e.keyCode == 13){
        e.preventDefault();
        var userinput = $("#entername").val().replace(/</g, "&lt;").replace(/>/g, "&gt;");

        document.getElementById("entername").setAttribute("data-value", userinput);

        if (userinput == '') {
          return false;
        } else {
          $('#logingroup').fadeOut();
          $('#loginbg').fadeOut();
          $('#message').focus();
        }
      }
    };

    function timeSince(date) {
      var seconds = Math.floor((new Date() - date) / 1000);
      var interval = seconds / 31536000;
      if (interval > 1) {
        return Math.floor(interval) + " years ago";
      }
      interval = seconds / 2592000;
      if (interval > 1) {
        return Math.floor(interval) + " months ago";
      }
      interval = seconds / 86400;
      if (interval > 1) {
        return Math.floor(interval) + " days ago";
      }
      interval = seconds / 3600;
      if (interval > 1) {
        return Math.floor(interval) + " hours ago";
      }
      interval = seconds / 60;
      if (interval > 1) {
        return Math.floor(interval) + " minutes ago";
      }
      return Math.floor(seconds) + " seconds ago";
    }

    //console.log(ethaddy);

    //- const ThreeBoxProfile = async () => {

    //-   const profile = await Box.getProfile(ethaddy);
    //-   var profileimage;

    //-   if (typeof profile.image == 'undefined') {
    //-       profileimage = profile.image;
    //-       console.log(profileimage);
    //-       var boximage = '';
    //-       if (typeof profileimage == 'undefined') {
    //-           boximage = '../img/avatar.png'; //IPFS Default Avatar Hash
    //-       } else {
    //-           profileimage = profile.image[0].contentUrl['/'];
    //-           boximage = 'https://cloudflare-ipfs.com/ipfs/' + profileimage;
    //-       }
    //-       //console.log(boximage);

    //-       return boximage;

    //-   } else {
    //-       profileimage = profile.image[0].contentUrl['/'];
    //-       console.log(profileimage);
    //-       var boximage = '';
    //-       if (typeof profileimage == 'undefined') {
    //-           boximage = '../img/avatar.png'; //IPFS Default Avatar Hash
    //-       } else {
    //-           profileimage = profile.image[0].contentUrl['/'];
    //-           boximage = 'https://cloudflare-ipfs.com/ipfs/' + profileimage;
    //-       }
    //-       //console.log(boximage);

    //-       return boximage;
    //-   }
    //- }

    //- let promises = [];
    //- let ethereumarray = [];
    //- promises.push(new Promise((res, rej) => {
    //-   ThreeBoxProfile().then(threeboxprofile => {

    //-     ethereumarray.push({boxprofile: threeboxprofile});
    //-     res({threeboxprofile});

    //-     });
    //- }));
          
    //- Promise.all(promises).then((values) => {

    //-   var boxprofile = ethereumarray[0].boxprofile;

      //console.log(boxprofile);

      document.getElementById("message").onkeydown = function(e){
        if(e.keyCode == 13){
          e.preventDefault();
          var messages = [];
          var boxprofile = '../img/avatar.png';
          var username = document.getElementById("entername").getAttribute("data-value");
          var time = new Date().toUTCString().replace('GMT','');
          var txt = $("#message").val().replace(/</g, "&lt;").replace(/>/g, "&gt;");
          if (txt == '') {
            return;
          }
          messages.push({msg: txt, address: ethaddy, daddress: daddy, boxprofile: boxprofile, time: time, username: username});
          b.send(messages);
          $('#message').val('');
        }
      };

      document.getElementById("send").onmousedown = function(e){
        e.preventDefault();
        var messages = [];
        var time = new Date().toUTCString().replace('GMT','');
        var boxprofile = '../img/avatar.png';
        var username = document.getElementById("entername").getAttribute("data-value");
        var txt = $("#message").val().replace(/</g, "&lt;").replace(/>/g, "&gt;");
        if (txt == '') {
            return;
        }
        messages.push({msg: txt, address: ethaddy, daddress: daddy, boxprofile: boxprofile, time: time, username: username});
        b.send(messages);
        $('#message').val('');
      };

    //- });

    const audio = new Audio("../notification.wav");

    function muteAudio() {
      var audioElm = audio;
      audioElm.muted = !audioElm.muted;
      if (!audioElm.muted) {
        $("#mutebutton").html("<i class='fas fa-volume-up'></i>");
      } else {
        $("#mutebutton").html("<i class='fas fa-volume-mute'></i>");
      }
    }

    b.on("seen", function(address) { 
      console.log(address + " [ seen ]");
      $('#loader').html("Kronos Chat Peer ID: " + b.address() + " • CONNECTED");
      $('#connectordot').show();
    });

    //- var thebox = document.getElementById("threebox").getAttribute("data-value");

    //- $('#thebox').html('<img src="'+thebox+'" style="width:100px;height:100px;"/>');

    b.on("connections", function(connection) { 
        //console.log(connection + " [ connections ]");
        $('#connectdot').html('<strong>'+connection + '</strong> connection(s)');
    });

    b.on("message", function(address, message) {
      audio.play();
      //console.log("RECEIVED MESSAGE:" + address + ": " + message);
      $('#messages').append("<div style='font-size:13px;color:#999;margin-top:4px !important; background-color:#22222296;border-radius:15px;padding:10px;' class='row animate__animated animate__flipInX tooltippy'><div class='col-md-2 tooltippy' align='center' title='"+message[0].username+"<br>ARI: "+message[0].address+"<br>D: "+message[0].daddress+"'><img src="+message[0].boxprofile+" border='0' style='display:inline-block;height:45px;width:45px;border-radius:9999px;object-fit:cover;margin-right: 15px;margin-top:9px;margin-bottom:9px;border: 3px #333 solid;'/><span style='margin-top:15px;'>From <span id='maintippy' style='font-weight:bold;'>"+message[0].username+"</span></span></div><div class='col-md-10' style='display:inline-block;vertical-align:middle;margin-top:3px;'><span id='msgtime' data-value="+message[0].time+" style='color: #555;font-size:9px;'>"+message[0].time+"</span><br><span style='font-size:16px;color:#FFF;'>"+message[0].msg+"</span></div></div>");
      tippy('.tooltippy', {
        animateFill: true,
        arrow: true,
        size: 'large',
        duration: 0,
        placement: 'auto',
        animation: 'perspective',
        interactive: true,
        theme: 'material',
      });
    });

    //- b.on("connections", console.log.bind(console, "Connections:"));
    //- b.on("seen", console.log.bind(console, "Seen:"));



    //- c.on("seen", function(address) { 
    //-   console.log(address + " [ seen ]");
    //-   $('#loader2').html("Kronos Chat Peer ID: " + b.address() + " <span class='online-icon greenCircle' target='_blank'><span class='ripple greenCircler'></span><span class='ripple greenCircler'></span><span class='ripple greenCircler'></span></span> • CONNECTED <span id='connectdot'></div>");
    //-   b.on("connections", function(connection) { 
    //-     //console.log(connection + " [ connections ]");
    //-     $('#connectdot2').html(' • '+connection + ' connection(s)');
    //-   });
    //- });

    //- setInterval(function(){ 
    //-     var msgtime = document.getElementById("msgtime").getAttribute("data-value");
    //-     var timesince = timeSince(new Date(Date()-msgtime));
    //-     $('#msgtime').html(timesince);       
    //- }, 1000);
