extends layout

block content
  #notify
  .maincontent(style='border: none !important;')
    .container(style='width:90%')
      p(align='center')
        h1(align='center', style='font-size:73px;font-weight:100;margin-top:42px !important;') Denarius Debug Log
        p(align='center') Located at #{debugloc}
      .row(class='rowclass')
        .col-md-12(style='height:500px;overflow-y:auto;background-color:#000;border-radius:15px;')
          if (lines)
            each line in lines
              | #{line}
              br
          else
            p(align='center') Your Denarius daemon is using a different data directory than ~/snap/denarius/common/.denarius/