doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    title #{title} - Kronos
    link(rel='shortcut icon', href='/img/klogo.png')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/kronos.css')
    link(rel='stylesheet', href='/css/lib/bootstrap-toggle.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css')
    link(rel='stylesheet', href='/css/loading-bar.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css')

  body
    script.
      function reboot() {
        document.getElementById("submitrb").style.display='none';
        document.getElementById("rebooter").innerHTML = 'Attempting to reboot your node...Please wait 4 minutes...';
        $('#sendreboot').submit();
      }
    include partials/headersimple

    include partials/flash
    block content

    //- include partials/footer

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/lib/bootstrap-toggle.min.js')
    script(src='/js/progressbar.min.js')
    script(src='/js/sorttable.js')
    script(src='/js/pace.min.js')
    script(src='/js/loading-bar.min.js')
    script.
      var ethaddy = document.getElementById("ethaccount").getAttribute("data-value");
      Box.getProfile(ethaddy).then(profile => {
        //console.log(profile);
        var profileimage;

        if (typeof profile.image == 'undefined') {
            profileimage = profile.image;
            //console.log(profileimage);
            var boximage = '';
            if (typeof profileimage == 'undefined') {
                boximage = '../img/avatar.png'; //IPFS Default Avatar Hash
            } else {
                profileimage = profile.image[0].contentUrl['/'];
                boximage = 'https://cloudflare-ipfs.com/ipfs/' + profileimage;
            }
            //console.log(boximage);

            $("#threebox").html('<img src="'+boximage+'" border="0" class="res threebox"/>');
            $("#threebox").val(boximage);
            document.getElementById("threebox").setAttribute("data-value", boximage);

        } else {
            profileimage = profile.image[0].contentUrl['/'];
            //console.log(profileimage);
            var boximage = '';
            if (typeof profileimage == 'undefined') {
                boximage = '../img/avatar.png'; //IPFS Default Avatar Hash
            } else {
                profileimage = profile.image[0].contentUrl['/'];
                boximage = 'https://cloudflare-ipfs.com/ipfs/' + profileimage;
            }
            //console.log(boximage);

            $("#threebox").html('<img src="'+boximage+'" border="0" class="res threebox"/>');
            $("#threebox").val(boximage);
            document.getElementById("threebox").setAttribute("data-value", boximage);
        }

      });
    script.
      var tabs = $('.tabs');
      var selector = $('.tabs').find('a').length;
      //var selector = $(".tabs").find(".selector");
      var activeItem = tabs.find('.active');
      var activeWidth = activeItem.innerWidth();
      $('#tab2').hide();
      $(".selector").css({
        "left": activeItem.position.left + "px", 
        "width": activeWidth + "px"
      });

      $(".tabs").on("click","a",function(e){
        e.preventDefault();
        $('.tabs a').removeClass("active");
        $(this).addClass('active');
        var activeWidth = $(this).innerWidth();
        var itemPos = $(this).position();
        //- $('.selectord').toggle();
        //- $('.selectorari').toggle();
        //- $('.selectoreth').toggle();
        $(".selector").css({
          "left":itemPos.left + "px", 
          "width": activeWidth + "px"
        });
      });
      $(".tab1").on("click", function(){
        $("#tab2").addClass('hide');
        $("#tab1").fadeIn(1000);
        $('#tab2').fadeOut(1000);
      });

      $(".tab2").on("click", function(){
        $("#tab2").removeClass('hide');
        $("#tab1").fadeOut();
        $('#tab2').fadeIn(1000);
      });
    //- script.
    //-   window.nodeRequire = require;
    //-   delete window.require;
    //-   delete window.exports;
    //-   delete window.module;
    //-   $('body').on('click', 'a.external', (event) => {
    //-     event.preventDefault();
    //-     let link = event.target.href;
    //-     require("electron").shell.openExternal(link);
    //-   });

    !=toasts