doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Kronos
    link(rel='shortcut icon', href='/img/caesar.png')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/kronos.css')
    link(rel='stylesheet', href='/css/lib/bootstrap-toggle.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css')
    link(rel='stylesheet', href='/css/loading-bar.min.css')
    script(src='/js/pace.min.js')
    script(src='/js/loading-bar.min.js')
    script(src='/js/lib/jquery-3.1.1.min.js') 
    script(src='/js/jquery.sparkline.min.js')

  body
    script.
      function reboot() {
        document.getElementById("submitrb").style.display='none';
        document.getElementById("rebooter").innerHTML = 'Attempting to reboot your node...Please wait 4 minutes...';
        $('#sendreboot').submit();
      }
    include partials/header

    include partials/flash
    block content

    include partials/footer

    script(src='/js/lib/jquery-3.1.1.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/lib/bootstrap-toggle.min.js')
    script(src='/js/progressbar.min.js')
    script(src='/js/main.js')
    script(src='/js/sorttable.js')
    script(src='/js/jquery.sparkline.min.js')
    script.
      window.nodeRequire = require;
      delete window.require;
      delete window.exports;
      delete window.module;
      $('body').on('click', 'a.external', (event) => {
        event.preventDefault();
        let link = event.target.href;
        require("electron").shell.openExternal(link);
      });

    !=toasts