//- select.pug
doctype html
html(dir="ltr", lang="en-US")
	head
		meta(http-equiv="content-type", content="text/html; charset=utf-8")
		meta(name="author", content="Kronos")
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css')
		link(rel='stylesheet', href='//stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/rpg-awesome/0.2.0/css/rpg-awesome.min.css')
		style.
			/* style.css */	

			@import url('https://fonts.googleapis.com/css?family=Lato:100,200,400|Quicksand:300|Roboto:100,300|Open Sans:100,300|Poppins:100,200,400|Heebo:100,200,400|Ubuntu:100,300|Muli:100,300');
					
			*,
			*::before,
			*::after {
			box-sizing: border-box;
			}

			html {
			background-color: #111;
			font-family: "Roboto", sans-serif;
			}

			body {
			font-weight: 200;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			text-rendering: optimizeLegibility;
			background-color: #111;
			}

			h1 {
			font-weight: 700;
			color: #000;
			text-align: center;
			margin-bottom: .5em;
			margin-top: 0em;
			color: #FFF;
			}

			a {
			font-size: 0.99em;
			color: #8a97a0;
			text-decoration: none;
			}
			a:hover {
			color: green;
			}

			.container {
			display: flex;
			-webkit-display: box;
			-moz-display: box;
			-ms-display: flexbox;
			-webkit-display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-content: center;
			padding: 10%;
			height: 100vh !import;
			margin: 0;
			}

			form {
			background-color: #fff;
			padding: 2em;
			border-radius: 8px;
			max-width: 400px;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: center;
			box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
				background-color: #333;
			}
			form input {
			color: #FFF;
			background-color: #222;
			box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
			border: none;
			border-radius: 4px;
			padding: 1em;
			width: 100%;
			}
			form input:focus {
			outline: none;
			}

			.button, input {
			font-weight: 600;
			text-align: center;
			font-size: 19px;
			color: #FFF;
			background-color: #333;
			width: 100%;
			border: none;
			border-radius: 4px;
			padding: .75em;
			margin-top: 0em;
			margin-bottom: 1em; 
			cursor: pointer;
			overflow: hidden;
			transition: all 200ms ease-in-out;
			box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
			}


			.button {
			padding: 1em;
			margin-bottom: 0px;
			}
	body
		.container(style='margin-top:50px !important;margin:0 auto;padding:0;', align='center')
			img(src="https://user-images.githubusercontent.com/10162347/93844293-ed323180-fc59-11ea-9331-9f8ac37f797c.png", height="200px", width="200px", align="center")
		.start(style='background-color:#333;border-radius:15px;width:95%;padding:30px;margin: 0 auto;margin-top: 45px; ')
			h1(style='font-family: "Lato", sans-serif; font-size:34px; font-weight:100;') SELECT YOUR MODE
			.row(style='background-color:#333; margin:0 auto; width:100%;' align='center')
				.col-md-6
					.modes(style='padding:30px;background-color:#222;border-radius:15px;')
						p
							i.ra.ra-level-two.fa-5x(style='color:#777;')
						span(style='color:#999;font-family: "Roboto", sans-serif;font-weight:300;') Start Kronos in "Core Mode", A standalone mode of Kronos that runs Kronos by itself. For those that are new to cryptocurrency! Generates a seed phrase for use with Denarius (D), Denarii (ARI), and Ethereum (ETH) wallets.
						p
							br
							a.btn.button(href='/simplesetup', style='background-color: #444;border-radius:15px;color:#eee;width:100%;') Core Mode
						.span(style='background-color:#00ad00;width:30%;padding:5px;border-radius:15px;color:#FFF;') Beginner
				.col-md-6
					.modes(style='padding:30px;background-color:#222;border-radius:15px;')
						p
							i.ra.ra-level-three-advanced.fa-5x(style='color:#777;')
						span(style='color:#999;font-family: "Roboto", sans-serif;font-weight:300;') Start Kronos in "Advanced Mode", An advanced mode of Kronos that runs Kronos and provides the ability to configure a RPC connection to Denarius. Kronos only supports Denarius (D) in this mode.
						p
							br
							a.btn.button(href='/setup', style='background-color: #444;border-radius:15px;color:#eee;') Advanced Mode
						.span(style='background-color:#b53900;width:80%;padding:5px;border-radius:15px;color:#FFF;') Expert
		script(src='/js/lib/jquery-3.1.1.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js')
		script(src='//stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js')

		!=toasts