extends layout

block content
  #notify
  .maincontent(style='border: none !important;')
    .container(style='width:90%')
      p(align='center')
        h1(align='center', style='font-size:73px;font-weight:100;margin-top:42px !important;') Kronos Settings
      .row(class='rowclass')
        .col-md-12(align='center')
          h3 Version 1.9.9-Beta
          br
          p Under Construction