//- loading.pug
doctype html
html(dir="ltr", lang="en-US")
	head
		meta(charset='utf-8')
		style.
			@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,400|Quicksand:300|Roboto:100,300|Open Sans:100,300|Poppins:100,200,400|Heebo:100,200,400|Ubuntu:100,300|Muli:100,300');
			body {
				background-color: #000;
				color: #fff;
			}
			.dashloader {
				text-align:center;
				vertical-align:middle;
				margin: 0 auto;
				width:500px;
				margin-top:20vh;
				font-family: 'Poppins', sans-serif;
			}
			.rainbow {
				text-align: center;
				text-decoration: underline;
				font-size: 16px;
			}
			.rainbow_text_animated {
				background: linear-gradient(to right, #6da2ff, #0099ff , #ffe900, #ff3399, #6da2ff);
				-webkit-background-clip: text;
				background-clip: text;
				color: transparent;
				animation: rainbow_animation 6s ease-in-out infinite;
				background-size: 400% 100%;
			}

			@keyframes rainbow_animation {
				0%,100% {
					background-position: 0 0;
				}

				50% {
					background-position: 100% 0;
				}
			}

			.one {
				opacity: 0;
				-webkit-animation: dot 1.3s infinite;
				-webkit-animation-delay: 0.0s;
				animation: dot 1.3s infinite;
				animation-delay: 0.0s;
			}

			.two {
				opacity: 0;
				-webkit-animation: dot 1.3s infinite;
				-webkit-animation-delay: 0.2s;
				animation: dot 1.3s infinite;
				animation-delay: 0.2s;
			}

			.three {
				opacity: 0;
				-webkit-animation: dot 1.3s infinite;
				-webkit-animation-delay: 0.3s;
				animation: dot 1.3s infinite;
				animation-delay: 0.3s;
			}

			@-webkit-keyframes dot {
				0% {
					opacity: 0;
				}
				50% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}

			@keyframes dot {
				0% {
					opacity: 0;
				}
				50% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
	body
		.dashloader
			img(src='../img/kloadb.gif')
			h1 Loading...Please wait
				span.one .
				span.two .
				span.three .
			h4#loadertxt.rainbow.rainbow_text_animated
	script.
		var facts = ['To go forward, you must backup.', 'We know that Kronos cannot be destroyed and that a widely dispersed system cannot be shut down.', 'Such wow, much Kronos', 'Hang on a sec, I know your data is here somewhere', 'Calculating Humans', 'Press any key to continue...jk', 'Breaking chains and taking memes', 'Nothing, nothing, then something', '...as if you had any other choice', 'Do you prefer chicken, stake, or tofu?', 'Go ahead -- hodl your breath', 'Hashing cryptography...', 'Fetching blockchain data...', 'A few bits tried to escape, but we caught them', '...while monopolies try to take over the world', 'At least you are not on hodl'];
		var randomFact = Math.floor(Math.random() * facts.length);
		document.getElementById('loadertxt').innerHTML = facts[randomFact];
		setInterval(function() {
			var randomFact = Math.floor(Math.random() * facts.length);
			document.getElementById('loadertxt').innerHTML = facts[randomFact];
		}, 5000);
		//- setTimeout(function() {
		//- 	document.getElementById('loadertxt').innerHTML = facts[randomFact];
		//- }, 1000);
		//- (function newFact() {
		//- 	var facts = ['To go forward, you must backup.', 'We know that Kronos cannot be destroyed and that a widely dispersed system cannot be shut down.', 'Such wow, much Kronos', 'Hang on a sec, I know your data is here somewhere', 'Calculating Humans', 'Press any key to continue...jk', 'Breaking chains and taking memes', 'Nothing, nothing, then something', '...as if you had any other choice', 'Do you prefer chicken, stake, or tofu?', 'Go ahead -- hodl your breath', 'A few bits tried to escape, but we caught them', '...while monopolies try to take over the world', 'At least you are not on hodl'];
		//- 	var randomFact = Math.floor(Math.random() * facts.length);
		//- 	document.getElementById('loadertxt').innerHTML = facts[randomFact];
		//- })();